.AboutSection{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.image-container-image{
    width: fit-content;
}
.image-container-text{
    text-align: center;
    position: relative;
}

.Centerted-section, .buttonSection{
padding-bottom: 40px;
padding-top: 40px;
}

.buttonSection{
display: inline-flex;
}

.buttonSection a{
    margin-right: 10px;
}

.btn{
    background: #014c8f;
    transition: all 0.5s ease;
}

.btn:hover{
    background: #026ecc;
}

.button a, .button a:visited, .button a:active{
    color: white;
}
