:root {
    --main-colour: #014c8f;   

}


body, html {
    height: 100%;
}
  
.website-logo span svg{
    margin-top: 6px;
    margin-left: 6px;
    height: 50px;    
}

nav{   
    position: relative;
    background: var(--main-colour);
    border-bottom: 1px solid rgba(0,0,0,0.02);
}

.active{
  background-color: rgba(0,0,0,0.1);
}
.nav-bar-right{
    display: flex;
}

.nav-bar-right a {
    font-size: 18px;
    color:white;
    transition: 0.3s ease all;
}

