.website-logo span svg{
    margin-top: 1px;
    margin-left: 5px;
    height: 60px;
}

nav{   
    background: transparent;    
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.nav-bar-right{
    display: flex;
}

.nav-bar-right a {
    color: black;
}