.mainContainer{
    height: 100vh;
}

.mainContainer-centerSection{
    width: 50%;
    margin: 0 auto;
}

* { 
    box-sizing: border-box; 
}

.cvLogo{
    height: 40px;
}

.linksSection{
    border-top: 5px solid #014c8f;
    font-size: 40px;
}

.linksSection a {
    margin-top: 20px;
    color: black;
    transition: 0.3s ease all;
}

.linksSection a:hover{
    color: rgb(68, 68, 68);
}

.mainText{
    color: black;
    font-size: 80px;
}

body {
    background: white;  /* fallback for old browsers */
}

.particleSection{
    z-index: -10;
    position: fixed;
    width: 100vw;
    height: 100vw;
}

.device-container{
    width: 400px !important;
}

/* overrides default background colour of the tooltip*/
.tippy-tooltip, .enter{
    background: #014c8f ! important;
}

.laptop-clip-path{      
    clip-path: url(#laptopClipPath);    
}

.phone-clip-path{      
    clip-path: url(#phoneClipPath);    
}    

.svg-scroll{	
    animation : scroll-svg 10s infinite;
    animation-delay: 0.5s;
}

.svg-scroll-on{	
    transition-delay: 5s;
    transition: all 10000ms ease;       
    transform: translate(0px, -1000px);
}   
.svg-device-background {
    fill: #fdffff;
 }

 .svg-device-bars {
    fill: #014c8f;
 }

 @keyframes scroll-svg {
    0% {  transform: translate(0px, -0px);}
    90% {  transform: translate(0px, -890px);}
    95% {  transform: translate(0px, -0px);
    }
}