.tech-icon-container, .language-text{
    display: inline;
}

.language-text{
    margin-right:5px;
}

.tech-icon svg {
    margin-right:5px;
    height: 30px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.5s ease all;
}

.tech-icon svg:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s ease all;
}